<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>CIMT Keyphrase Extraction</title>
<link rel="stylesheet" th:href="@{/css/jqcloud.min.css}"
	href="../../css/jqcloud.min.css" />
</head>
<body>
	<h1 layout:fragment="header">Keyphrase Extraction</h1>
	<div layout:fragment="content" class="container">
		<h1>Form</h1>
		<form action="#" th:action="@{/interest/author}"
			th:object="${interestRequestBody}" method="post">
			<p>
				Author Id: <input type="text" th:field="*{authorId}" />
			</p>
			<p>
				Keyphrase number: <input type="text" th:field="*{numKeywords}" />
			</p>
			<p>
				Algorithm Name: <select id="algorithmName" name="algorithmName"
					th:field="*{algorithmName}">
					<option
						th:each="algorithm : ${T(de.rwth.i9.cimt.ke.lib.constants.KeyphraseExtractionAlgorithm).values()}"
						th:value="${algorithm}" th:text="${algorithm}"></option>
				</select>
			</p>
			<p>
				Algorithm Name: <select id="latentInterestType" name="alatentInterestType"
					th:field="*{latentInterestType}">
					<option
						th:each="algorithm : ${T(de.rwth.i9.cimt.ke.constants.AuthorInterestType).values()}"
						th:value="${algorithm}" th:text="${algorithm}"></option>
				</select>
			</p>
			<p>
				<input type="submit" value="Submit" />
			</p>
		</form>
		<div id="demo" style="height: 300px;"></div>
		<div th:if="${keywords} != null">
			<table align="center">
				<tr>
					<th>KEYWORD</th>
					<th>WEIGHT</th>
				</tr>
				<tr th:each="keyword : ${keywords}">
					<td th:text="${keyword.token}">Onions</td>
					<td th:text="${keyword.weight}">2.41</td>
				</tr>
			</table>
		</div>
	</div>
	<h1 layout:fragment="header">Keyphrase Extraction</h1>
	<th:block layout:fragment="script">
		<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"
			src="../static/js/jquery-3.2.1.min.js" />
		<script type="text/javascript" th:src="@{/js/jqcloud.min.js}"
			src="../static/js/jqcloud.js" />
		<script th:inline="javascript">
			/*<![CDATA[*/
			var words = /*[[${words}]]*/[];
			/*]]>*/
			$('#demo').jQCloud(JSON.parse(words));
		</script>

	</th:block>

</body>

</html>
