<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>Keyphrase Extraction</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />

</head>
<body>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand"
					th:href="@{/}" href="home.html">
					CIMT - KE </a>
				<ul class="nav">
					<li><a th:href="@{/interest/author}" href="authorinterest.html"> IM Tag Cloud </a></li>
					<li><a th:href="@{/interest}" href="wbimview.html"> IM Concept Map </a></li>
					<li><a th:href="@{/interest/kewb}" href="wbkeview.html"> IM + KE </a></li>
				</ul>
			</div>
		</div>
		<h1 layout:fragment="header">Layout</h1>
		<div layout:fragment="content">Fake content</div>
	</div>
	<div layout:fragment="viz" class="container"> 
	</div>
	<th:block layout:fragment="script"></th:block>
</body>
</html>
